<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calibrate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calibrate</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-img class="main-img" src="/assets/Vicentives_about.png"></ion-img> -->
  <p>This is where you set your weekly goals.  Define a baseline of your vice, your virtue, and extras that you will earn by completing
     virtues</p>
  
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="user.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Choose your Vice</ion-label>
    <ion-select value="vice" interface="action-sheet" [(ngModel)]="user.vice">
      <ion-select-option value="gaming">Video Games</ion-select-option>
      <ion-select-option value="booze">Booze</ion-select-option>
      <ion-select-option value="weed">That Sweet Gange</ion-select-option>
      <ion-select-option value="chocolate">Chocolate</ion-select-option>
      <ion-select-option value="Cake">Cake</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Baseline (you always get these)</ion-label>
    <ion-select value="vice_baseline" interface="action-sheet" [(ngModel)]="user.viceAmount">
      <ion-select-option value="0">0</ion-select-option>
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="7">7</ion-select-option>
      <ion-select-option value="8">8</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Choose your Virtues</ion-label>
    <ion-select [multiple]="true" value="virtue" interface="action-sheet" [(ngModel)]="user.virtues">
      <ion-select-option value="swim">Swimming</ion-select-option>
      <ion-select-option value="running">Running</ion-select-option>
      <ion-select-option value="biking">Biking</ion-select-option>
      <ion-select-option value="volunteer">Volunteer Work</ion-select-option>
      <ion-select-option value="walk">Walking</ion-select-option>
      <ion-select-option value="weights">Weight Lifting</ion-select-option>
      <ion-select-option value="sleep">Sleep</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>How many virtues to earn an extra vice?</ion-label>
    <ion-select value="vice_baseline" interface="action-sheet" [(ngModel)]="user.virtueAmount">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="7">7</ion-select-option>
      <ion-select-option value="8">8</ion-select-option>
    </ion-select>
  </ion-item>
    <ion-button [disabled]="!isFormReady()" (click)="navigate()" class="ion-activatable ripple-parent">Save
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <ion-button color="warning" (click)="clearSessionData()" class="ion-activatable ripple-parent">
      Clear all data
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
  </ion-content>
