<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vicentives
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vicentives</ion-title>
    </ion-toolbar>
  </ion-header>

      <ion-card>
        <img src="/assets/Vicentives_home.png" />
        <ion-card-header>
          <ion-card-subtitle>Vicentives</ion-card-subtitle>
          <ion-card-title>What's your vice?</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque dolorem recusandae eos voluptatum expedita voluptates minima explicabo consequatur modi saepe provident praesentium, ut perferendis ex quidem placeat quo sunt adipisci.
      </ion-card-content>
      </ion-card>
      <div class="container">
        <ion-button class="gimme-space-left" [routerLink]="['/calibrate']">Login to get started</ion-button>
      </div>

      <div>
        <h2>Week of 11/14/21</h2>
        Show the Vices available and click on each to use them
        Build an extra vice button if earned
        <br>
        Show the Virtues used this week and click on each virtue button to track it
      </div>
    
</ion-content>
