<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">My Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Vicentives</ion-card-subtitle>
        <ion-card-title>Your Week in Review</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-text color="primary">
            <h2>You have used <strong>6</strong> vices this week</h2>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-text color="primary">
            <h2>You have had <strong>9</strong> virtues this week!</h2>
          </ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>

    </ion-content>